<h3>{{this.title}}</h3>
<h4>Flavors:</h4>
{{#each this.flavors}}
  <h5>{{this}}</h5>
{{/each}}

<h4>Ingredients:</h4>
{{#each this.ingredients}}
  {{> ingredient}}
{{/each}}

<h4>Instructions:</h4>
<h5>{{this.instructions}}</h5>
<h4>Servings:</h4>
<h5>{{this.servings}}</h5>
<h4>Ready in:</h4>
<h5>{{this.readyInMinutes}} minutes</h5>
{{!-- Why do we need to show image to user? <li><a href={{this.imageURL}}>Source</a></li> --}}
<h4>Likes:</h4> 
<h5>{{this.likes}}</h5>
<h4>Dislikes:</h4>
<h5>{{this.dislikes}}</h5>
<h4>Certified:</h4>
<h5>{{this.certified}}</h5>
{{#if (eq @root.user.role 'admin')}}
  <form action="/recipes/delete/{{this._id}}" method="POST">
    <input type="submit" value="Delete Recipe" id="deleteRecipeButton">
  </form>
{{/if}}

{{#if @root.user}}
  {{#if (userHasLiked this._id @root.user.likedRecipes)}}
    <form action="/recipes/{{this._id}}/dislike" method="POST">
      <input type="submit" value="Dislike Recipe" id="dislikeRecipeButton">
    </form>
  {{else}}
    <form action="/recipes/{{this._id}}/like" method="POST">
      <input type="submit" value="Like Recipe" id="likeRecipeButton">
    </form>
  {{/if}}
{{/if}}