<header>
  <nav>
    <div class="left-links">
      <a href="/" class="meal-maker-link">MealMaker</a>
    </div>
    <div class="center-links">
      {{#if user}}
        <div class="dropdown">
          <a href="#" class="dropbtn">{{user.firstName}} ▼</a>
          <div class="dropdown-content">
            <a href="/profile">Profile</a>
            <a href="/logout">Logout</a>
          </div>
        </div>
      {{else}}
        <a href="/login">Login</a>
      {{/if}}
    </div>
    <div class="right-links">
      <a href="/ingredients">Ingredients</a>
      <a href="/recipes/add">Add Recipe</a>
    </div>
  </nav>
</header>
<ul>
  <li class="recipe-box">
    <img src="{{recipe.imageURL}}" alt="{{recipe.title}}">
    <h1>{{recipe.title}}</h1>
    {{> recipe recipe}}
  </li>
</ul>
{{#if user}}
  <h2>Add a Comment!</h2>
  <form id="comment-form" action="/recipes/{{recipe._id}}/comment" method="POST" name="ingredientForm">
  <label for="commentInput">Add a comment</label>
  <input type="text" name="commentInput" id="commentInput">
  <button type="submit">Submit</button>
  </form>
  {{else}}
  <a href="/login">Login to add a comment!</a>
{{/if}}
<h2>Comments</h2>
<ul>
  {{#each recipe.comments}}
    {{> comment}}
  {{/each}}
</ul>