<header>
  <nav>
    <div class="left-links">
      <a href="/" class="meal-maker-link">MealMaker</a>
    </div>
    <div class="center-links">
      {{#if user}}
        <div class="dropdown">
          <a href="#" class="dropbtn">{{user.firstName}} ▼</a>
          <div class="dropdown-content">
            <a href="/profile">Profile</a>
            <a href="/logout">Logout</a>
          </div>
        </div>
      {{else}}
        <a href="/login">Login</a>
      {{/if}}
    </div>
    <div class="right-links">
      <a href="/recipes">Recipes</a>
      <a href="/ingredients">Ingredients</a>
    </div>
  </nav>
</header>
<h2>Welcome {{user.firstName}}!</h2>
<div class= "box">
  {{#if user}}
    <p>As {{#if (eq user.role 'admin')}}an{{else}}a{{/if}} {{user.role}} user, you can:</p>
    <ul>
      <li>Add ingredients to your personal list</li>
      <li>Create new ingredients</li>
      <li>Search recipes using a variety of filters, given your ingredients</li>
      <li>Create recipes with a {{user.role}} tag</li>
      <li>Comment on recipes</li>
      <li>Like recipes</li>
      {{#if (eq user.role 'admin')}}
        <li>Delete recipes</li>
      {{/if}}
    </ul>
  {{else}}
    <p>As a guest user, you can:</p>
    <ul>
      <li>Add ingredients to personal list</li>
      <li>Search recipes using a variety of filters, given your ingredients</li>
    </ul>
    <p>Please <a href="/login">login</a> to access more features.</p>
  {{/if}}
</div>
