<h1>Ingredients</h1>
<header>
  {{#if user}}
    <a href="/logout">Logout</a>
    {{else}}
    <a href="/login">Login</a>
  {{/if}}
  <a href="/">Home</a>
  <a href="/recipes">Recipes</a>
  <a href="/profile">Profile</a>
</header>
<body>
  <a href="/ingredients/add">Add Ingredients Here!</a>
  <ul>
    {{#each ingredients}}
      <li>
        <h2>{{name}}</h2>
        <p>{{flavors}}</p>
        <main>{{quantity}} {{measurement}}</main>
      </li>
    {{/each}}
  </ul>
</body>